body {
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: #2c3e50;
}

footer {
    margin-top: 50px;
}

header {
    padding: 10px 0;
    background-color: #5cb85c !important;
}

/* Estilos do Banner */
.banner {
    background-color: #5cb85c;
    max-width: 100%;
}